<!--
    Relative paths assume component is being run from inside an app or another component, where dependencies are flat
    siblings. When this component is run from its own repo (e.g. tests, examples), we assume the server is started with
    'gulp serve' (or similar server setup) to enable correct finding of bower dependencies for local runs.
-->
<link rel="import" href="../polymer/polymer.html"/>
<% if (mixinNames) {
    mixinNames.forEach(function(mixin) {
        %><link rel="import" href="../<%= mixin %>/<%= mixin %>.html"/><%
    });
} %>
<link rel="import" href="css/<%= name %>-styles.html">

<!--
REPLACE THIS TEXT WITH A COMPONENT DESCRIPTION

##### Usage

    <<%= name %> counter-value="1"></<%= name %>>

@element <%= name %>
@blurb REPLACE THIS TEXT WITH A COMPONENT DESCRIPTION
@homepage index.html
@demo index.html
-->

<dom-module id="<%= name %>">
  <template>
    <style include="<%= name %>-styles"></style>
    <a href="javascript:" on-click="handleClick">Click here to increment counter:</a>
    <span>{{counterValue}}</span>
  </template>
</dom-module>
<script src="dist/<%= name %>.js"></script>
