<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="css/<%= name %>-styles.html">

<dom-module id="<%= name %>">
  <template>
    <style include="<%= name %>-styles"></style>
    <a href="javascript:" on-click="handleClick">Click here to increment counter:</a>
    <span>{{counterValue}}</span>
  </template>

  <script>
    /**
     * `<%= name %>`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class <%= className %> extends Polymer.Element {
      static get is() { return '<%= name %>'; }
      static get properties() {
        return {
          /**
          * This property keeps track of the number of clicks.
          *
          * @property counterValue
          */
          counterValue: {
            type: Number,
            value: 0,
            notify: true
          }
        };
      }
      /**
      * Handles click on the element defined in 'on-click' on the template.
      *
      * @method handleClick
      */
      handleClick(event, detail, sender) {
        this.increment();
      },

      /**
      * Increments the counter
      *
      * @method increment
      */
      increment() {
        this.counterValue++;
      }
    }

    window.customElements.define(<%= className %>.is, <%= className %>);
  </script>
</dom-module>
