<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>px-toggle-design Demo</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <!-- Boilerplate: Import Libraries -->
  <script src="../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../px-theme/px-theme-styles.html">
  <style include="px-theme-styles" is="custom-style"></style>
  <link rel="import" href="../px-sass-doc/px-sass-doc.html" />

  <!-- 0: Import Module Styles -->
  <link rel="stylesheet" type="text/css" href="css/px-toggle-design-demo.css" />
</head>
<body>
<template id="just-for-demo" is="dom-bind">

<!-- 1: Describe Module -->
<px-sass-doc
  module-name="px-toggle-design"
  description="Toggle is a simple on/off switch. It's created with CSS applied to a checkbox and label. Use it to create simple UI elements that enable and disable things."
  layer="objects"
  sassdoc-path="sassdoc.json"
  dependencies='[
    "https://github.com/PredixDev/px-colors-design",
    "https://github.com/PredixDev/px-defaults-design",
    "https://github.com/PredixDev/px-helpers-design"
  ]'
  selected-options="{{selectedOptions}}">

<!-- 2: Set Options -->
<px-sass-doc-option
  option-name="Size"
  choose-with="dropdown"
  choices='[
    "small",
    "regular (default)",
    "large",
    "huge"
  ]'
  default-choice="regular (default)">
</px-sass-doc-option>

<!-- 3: Make HTML Demo -->
<section data-slot="demoHTML">
<input id="exampleToggle" class$="{{inputClasses}}" type="checkbox" />
<label for="exampleToggle" class$="{{labelClasses}}"></label>
</section>

<!-- 4: Set Import Slot -->
<section data-slot="import">
{{importCode}}
</section>

<!-- 5: Set Usage HTML -->
<section data-slot="usage">
Use the following HTML to set up your project:
```
<!-- Default toggle -->
<input id="toggle2" class="toggle__input" type="checkbox">
<label for="toggle2" class="toggle__label"></label>
<!-- Small toggle -->
<input id="toggle3" class="toggle__input toggle__input--small" type="checkbox">
<label for="toggle3" class="toggle__label toggle__label--small"></label>
<!-- Large toggle -->
<input id="toggle4" class="toggle__input toggle__input--large" type="checkbox">
<label for="toggle4" class="toggle__label toggle__label--large"></label>
<!-- Huge toggle -->
<input id="toggle5" class="toggle__input toggle__input--huge" type="checkbox">
<label for="toggle5" class="toggle__label toggle__label--huge"></label>
```
</section>

</px-sass-doc>
</template>

<!-- 6: Handle selectedOptions, update demo -->
<script>
  var template = document.querySelector('template[is=dom-bind]');

  document.addEventListener('px-sass-doc-options-updated', function(evt) {
    template.inputClasses = template._inputClasses();
    template.labelClasses = template._labelClasses();
    template.importCode = template._importCode();
  });

  template._inputClasses = function() {
    var opts = template.selectedOptions || {}, strings = [];

    if (opts.Size === "small")    strings.push("toggle__input--small");
    if (opts.Size === "large")    strings.push("toggle__input--large");
    if (opts.Size === "huge")     strings.push("toggle__input--huge");

    return ("toggle__input " + strings.join(" ")).trim();
  };

  template._labelClasses = function() {
    var opts = template.selectedOptions || {}, strings = [];

    if (opts.Size === "small")    strings.push("toggle__label--small");
    if (opts.Size === "large")    strings.push("toggle__label--large");
    if (opts.Size === "huge")     strings.push("toggle__label--huge");

    return ("toggle__label " + strings.join(" ")).trim();
  };

  template._importCode = function() {
    var opts = template.selectedOptions || {}, strings = [];

    if (opts.Size === "small")    strings.push("inuit-enable-toggle--small : true;");
    if (opts.Size === "large")    strings.push("inuit-enable-toggle--large : true;");
    if (opts.Size === "huge")     strings.push("inuit-enable-toggle--huge : true;");

    return (strings.join("\n") + "\n@import 'px-toggle-design/_objects.toggle.scss';").trim();
  };
</script>
</body>
</html>
